*{margin: 0; padding: 0;}
nav{height: 50px; background-color: whitesmoke; } 
nav a{text-decoration: none;float: right; margin-right: 16px;}
a:hover{font-size: 1.5rem;}
header{height: 100vh;width: 100%;}
header img{height: 100vh;width: 100%;}
section{display: block; position: relative;}
.Catering1{height: 80vh;width: 49.5%; position: absolute; left:0; top: 10vh;}
.Catering1 img{height: 80vh;width: 70%;margin-left: 45px;}
.Catering2{height: 80vh;width: 49.5%; position: absolute; left:50%; top: 10vh;}
.Catering2 ul {text-decoration: none;}
.Catering2 ul li {list-style: none;}
.Catering2 ul li h2,h3{text-align: center; }
h2{margin-bottom: 80px; letter-spacing: 4px;}
h3{margin-bottom: 30px; letter-spacing: 4px;}
article{height: 80vh;width: 49.5%; position: absolute; left:2%; top: 230vh;}
article h4,p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
h4{color: black; letter-spacing: 4px;}
h1{text-transform: uppercase;text-align: center;}
p{color: grey; font-size: 0.9rem;letter-spacing: 3px;}
aside{height: 80vh;width: 49%; position: absolute; left:51%; top: 230vh;}
.contact{height: 100vh;width: 100%; position: absolute; top:380vh ; left:0%; background-color: rgb(136, 10, 136);}
input{padding: 1%; margin-left: 10px;}
button{padding: 1%; margin-left: 550px;}
button:hover{color: blanchedalmond; background-color: darkcyan;}
footer{height: 10vh; width: 100%;background-color: rgb(139, 0, 42); position: absolute; top:495vh ; left: 0;}
footer ul li {float: left; list-style: none; margin-left: 150px; margin-top: 5px;}
footer a{text-decoration: none; font-size: 1.3rem; font-weight: 800; margin-left: 50px; color: black;}
i{font-size: 2rem; color: rgb(52, 165, 42); margin-left: 10px; float: left;  margin-top: 5px;}
i:hover{font-size: 2.3rem; color: darkslategray;}
